@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-text: #1a1a1a;
  --color-background: #ffffff;
}

@layer base {
  .dark {
    --color-text: #ffffff;
    --color-background: #1a1a1a;
  }
}